################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ini
/$RECYCLE.BIN/S-1-5-21-2433727268-3176573281-1044796896-1003/$R4Q61OP.vs/docker-sample/v16
/$RECYCLE.BIN/S-1-5-21-2433727268-3176573281-1044796896-1003
